# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
.venv/
.env/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
*.sqlite3
__pycache__/
*.pyc

# RemBG outputs / images
output/
*.png
*.jpg

# Misc
*.bak
*.swp

# Node / frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env
